@keyframes bounce {
  from,
  4%,
  10.6%,
  16%,
  20%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  8%,
  8.6% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0);
  }

  14% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }

  18% {
    transform: translate3d(0, -1.3px, 0);
  }
  
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}