:root {
  --spacing: calc({{ designTokens.spacing.spacerMobile }} * 1rem);
  --bgColor: {{ designTokens.color.dark }};
  --mediumColor: rgba(247, 190, 202,.2);
  --textColor: {{ designTokens.color.light }};
  --linkColor: {{ designTokens.color.primaryLight }};
}

@media screen and (min-width: 50rem) {
  :root {
    --spacing: calc({{ designTokens.spacing.spacerDesktop }} * 1rem);
  }
}

.lightMode {
  --bgColor: {{ designTokens.color.light }};
  --textColor: {{ designTokens.color.dark }};
  --linkColor: {{ designTokens.color.primaryDark }};
}