html {
  font-size: 100%;
}

body {
  background: var(--bgColor);
  color: var(--textColor);
  margin: 0;
  padding: 0;
  font-family: {{ designTokens.typography.default.family }}, monospace;
}

main {
  padding: var(--spacing);

  display: grid;
  grid-gap: var(--spacing);
  grid-template: "logo" auto
                 "navigation" auto
                 "titles"    auto
                 "content";
}
                
@media (min-width: 50rem) {
  main {
    grid-template: "logo   logo" auto
                    "navigation navigation" auto
                    "titles content"    auto   / calc(25.6rem - var(--spacing)) 1fr;
                    
  }
}

@media (min-width: 80rem) {
  main {
    grid-template: "logo   navigation" auto
                   "titles content"    auto   / 25.6rem 1fr;
  }
}

nav {
  grid-area: navigation;
  display: flex;
  align-items: flex-end;
  /* margin-bottom: var(--spacing); */
}