svg[class^="logo_"] {
  position: fixed;
  fill: var(--textColor);
  display: none;
}

@media (min-width: 50rem) {
  svg[class^="logo_"] {
    display: block;
  }
}


.logo_underscore {
  width: 2.3rem;
  height: 0.2rem;
  top: calc(2rem + var(--spacing));
  right: var(--spacing);
}

.logo_bottom {
  width: 5.6rem;
  height: 3.5rem;
  bottom: var(--spacing);
  right: var(--spacing);
}