/* Common styles */
svg[class^="logo_"] {
  fill: var(--textColor);
}

.logo_underscore, .logo_bottom {
  position: fixed;
  display: none;
}

@media (min-width: 50rem) {
  .logo_underscore, .logo_bottom {
    display: block;
  }
}


/* Main logo */
.logo_full {
  max-width: 100%;
}

.logo_full_firstname {
  
}
.logo_full_mask {
  transform: translateX(-38%);
  animation: type 20s step-end infinite;

}
.logo_full_maskshape {
  fill: var(--bgColor);
}


/* Underscore (light mode switch) */
.logo_underscore {
  width: 2.3rem;
  height: 2.3rem;
  top: var(--spacing);
  right: var(--spacing);
  cursor: pointer;
}

.logo_underscore:not(:hover) {
  animation: bounce 10s infinite;
  animation-delay: 2s;
}

.logo_underscore .sun-moon {
  transition: transform .8s;
  transform: rotate(120deg);
  transform-origin: 19px 19px;
}

.lightMode .logo_underscore .sun-moon {
  transform: rotate(120deg) scale(1.5);
}

.lightMode .logo_underscore:hover .sun-moon {
  transform: rotate(90deg) scale(1.5);
}

.logo_underscore .shadow {
  opacity: 0;
  fill: var(--bgColor);
  transition: transform opacity 1s;
}

.lightMode .logo_underscore .shadow {
  opacity: 1;
  transform: translate(-11px, 8px);
}

.logo_underscore .rays {
  transition: stroke-dasharray .2s linear;
  stroke-dasharray: 0 1rem;
  stroke-width: 2;
  stroke: var(--textColor);
}

.logo_underscore:hover .rays {
  transition: stroke-dasharray 3s linear;
  stroke-dasharray: 1rem 1rem;
}

.lightMode .logo_underscore .rays {
  stroke-dasharray: 0 1rem;
  transition: stroke-dasharray .2s linear;
}

.logo_underscore:not(:hover) .sun-moon {
  transform: translateY(2.3rem);
}


/* Bottom logo (:d) */
.logo_bottom {
  width: 5.6rem;
  height: 3.5rem;
  bottom: var(--spacing);
  right: var(--spacing);
}

.logo_bottom .front, .logo_bottom .back {
  transform-origin: center;
  transition: 1s;
}

.logo_bottom .back {
  fill: var(--linkColor);
  transform: rotate3d(0,1,0,0deg) translateZ(10px);
  position: relative;
}

.logo_bottom:hover .back {
  animation: rotateBack 10s linear infinite forwards;
}

.logo_bottom .front {
  fill: var(--textColor);
  transform: rotate3d(0,1,0,0deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo_bottom:hover .front {
  animation: rotateFront 10s linear infinite forwards;
}