h1 {
  grid-area: logo;
  margin: 0;
}

h1 span {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
  
}

h1 svg {
  fill: white;
  width: 25.6rem;
  height: 7rem;
  max-width: 100%;
}

h2 {
  margin: 0;

  font-weight: 400;
  font-size: calc({{ designTokens.typography.heading.size }} * 1rem);
  letter-spacing: .06em;
}

@media (min-width: 80rem) {
  h2 {
    margin-left: var(--spacing);
  }
}

ul {
  font-size: calc({{ designTokens.typography.paragraph.size }} * 1rem);
  line-height: 1.5;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0.75rem 0 0;
}

ul.inline {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (min-width: 45rem) {
  ul.inline {
    line-height: 1;
    justify-content: space-between;
  }
}

ul.inline li {
  display: inline-block;
  padding: 0;
}

ul.inline li:not(:last-child) {
  padding-right: 1.5rem;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}