@font-face {
  font-family: 'Basier Square Mono';
  src: url('fonts/basiersquaremono-regular-webfont.eot');
  src: url('fonts/basiersquaremono-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/basiersquaremono-regular-webfont.woff2') format('woff2'),
       url('fonts/basiersquaremono-regular-webfont.woff') format('woff'),
       url('fonts/basiersquaremono-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  grid-area: logo;
  margin: 0;
  position: relative;
  font-size: 3.2vw;
  max-width: 25.6em;
}

@media (min-width: 28.75rem) {
  h1 {
    font-size: 1rem;
  }
}

h1 span {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
}

#tooltip-span {
  display: none;
  position: fixed;
}

h1:hover #tooltip-span {
  display: block;
}

#tooltip-span img { 
  max-width: 512px;
  height: auto;
}

.firstname {
  display: inline-block;
  overflow: hidden;
  animation: type 20s step-end infinite;
}

h2 {
  margin: 1rem 0 -1.5rem;

  font-weight: 400;
  font-size: calc({{ designTokens.typography.heading.size }} * 1rem);
  letter-spacing: .06em;
}

@media (min-width: 50rem) {
  h2 {
    margin: 0;
  }
}

@media (min-width: 80rem) {
  h2 {
    margin-left: var(--spacing);
  }
}

ul {
  font-size: calc({{ designTokens.typography.paragraph.size }} * 1rem);
  line-height: 1.5;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0.75rem 0 0;
}

ul.inline {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (min-width: 45rem) {
  ul.inline {
    line-height: 1;
    justify-content: space-between;
  }
}

ul.inline li {
  display: inline-block;
  padding: 0;
}

ul.inline li:not(:last-child) {
  padding-right: 1.5rem;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  box-shadow: inset 0 0em 0 var(--mediumColor);
  transition: .2s ease-out;
}

a:hover {
  box-shadow: inset 0 -1.2em 0 var(--mediumColor);
}