<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link href="img/favicon.png" sizes="128x128" rel="icon">

    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    
    <style>
      {% include "css/_customProperties.css" %}
      {% include "css/_bounce.css" %}
      {% include "css/_layout.css" %}
      {% include "css/_svg.css" %}
      {% include "css/_typography.css" %}
    </style>
  </head>
  <body>

    {% include "logoElements.njk" %}

    <main>
      {{ content | safe }}
    </main>  

    {% set js %}
      {% include "js/core.js" %}
      {% include "js/lightmode.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



