---
title: Mikolaj Dobrucki
description: Designer & Front-End Developer. Lead Designer at ucreate. Novice public speaker. Design tools freak.
keywords: design, web design, front-end development, ux, ui, user interface design, interaction design, user experience
layout: layouts/base.njk
---

 {% include "logo.njk" %}      


<nav>
  <ul class="inline">
    {%- for item in links.nav -%}
      <li>
        <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
      </li>
    {%- endfor -%} 
  </ul>
</nav>

<h2>publications</h2>
<ul>
  {%- for item in links.publications -%}
    <li>
      <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
    </li>
  {%- endfor -%} 
</ul>

<h2>side projects</h2>
<ul>
  {%- for item in links.sideprojects -%}
    <li>
      <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
    </li>
  {%- endfor -%} 
</ul>


<h2>conferences</h2>
<ul>
  {%- for item in links.conferencetalks -%}
    <li>
      <a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
    </li>
  {%- endfor -%} 
</ul>