---
title: Mikolaj Dobrucki
description: Designer & Front-End Developer. Lead Designer at ucreate. Novice public speaker. Design tools freak.
keywords: design, web design, front-end development, ux, ui, user interface design, interaction design, user experience
layout: layouts/base.njk
---

<h1>Mikolaj Dobrucki</h1>
      
<nav>
  <ul class="inline">
    <li><a href="http://www.twitter.com/mikolajdobrucki" target="_blank">Twitter</a></li>
    <li><a href="http://www.dribbble.com/mikolajdobrucki" target="_blank">Dribbble</a></li>
    <li><a href="http://www.behance.com/mikolajdobrucki" target="_blank">Behance</a></li>
    <li><a href="http://www.github.com/mikolajdobrucki" target="_blank">Github</a></li>
    <li><a href="http://www.medium.com/@mikolajdobrucki" target="_blank">Medium</a></li>
    <li><a href="http://linkedin.com/in/mikolajdobrucki" target="_blank">LinkedIn</a></li>
    <li><a href="mailto:tease@mikolajdobrucki.com" target="_blank">Email</a></li>
  </ul>
</nav>

<h2>publications</h2>
<ul>
  <li><a href="http://www.smashingmagazine.com/author/mikolaj-dobrucki/" target="_blank">Smashing Magazine</a></li>
  <li><a href="http://css-tricks.com/author/mikolajdobrucki/" target="_blank">CSS Tricks</a></li>
  <li><a href="http://uxdesign.cc/@mikolajdobrucki" target="_blank">UX Collective</a></li>
  <li><a href="http://medium.muz.li/@mikolajdobrucki" target="_blank">Muzli Magazine</a></li>
</ul>

<h2>side projects</h2>
<ul>
  <li><a href="https://www.ikonate.com/" target="_blank">Ikonate</a></li>
  <li><a href="http://mikolajdobrucki.com/sketchuxkit/" target="_blank">Sketch UX Kit</a></li>
</ul>


<h2>talks</h2>
<ul>
  <li><a href="http://www.youtube.com/watch?v=7c727bNUlL4" target="_blank">mobiconf 2018 🇬🇧</a></li>
  <li><a href="http://youtu.be/Mk8hi8SLJ8g" target="_blank">DesignWays Conf 2018 🇵🇱</a></li>
</ul>