/* @import '_variables.css'; */

body {
  background: #292728;
  color: white;
  margin: 0;
  padding: 0;
  font-family:  "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

svg[class^="logo"] {
  position: fixed;
  fill: white;
}

.logo_full {
  top: 75px;
  left: 75px;
}

.logo_underscore {
  top: 117px;
  right: 75px;
}

.logo_bottom {
  bottom: 75px;
  right: 75px;
}

main {
  width: 100%;
  padding: 75px;

  display: grid;
  grid-gap: 75px;
  grid-template: "logo   navigation" 134px
                 "titles content"    auto   / 476px 1fr;
}

h1 {
  grid-area: logo;
  height: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
}

nav {
  grid-area: navigation;
  display: flex;
  align-items: flex-end;
}

h2 {
  margin: 0;

  font-weight: 600;
  font-size: 2rem;
  letter-spacing: .06em;
}

ul {
  line-height: 2;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.inline {
  line-height: 1;
}

ul.inline li {
  display: inline-block;
  padding: 0 1em 0 0;
}

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}